<template>
    <div class="field">
        <div v-for="(line, i) in squares" :key="i" class="row">
            <square v-for="(el, j) in line" :key="''+i+j" :mined="el" :mines-around="countMines(i,j)" @explode="lose" @discover="discoverAround(i,j)"/>
        </div>
    </div>
</template>

<script>
    import Square from "./Square";
    import Row from "./Row";

    export default {
        name: "Field",
        components: {Row, Square},
        data() {
            return {
                squares: [],
                size: 20,
                probability: .1
            }
        },
        methods: {
            start() {
                this.squares = [];
                for (let i = 0; i < this.size; i++) {
                    this.squares[i] = [];
                    for (let j = 0; j < this.size; j++) {
                        this.squares[i][j] = Math.random() < this.probability
                    }
                }
            },
            countMines(i, j) {
                return (
                    this.getSquareValue(i - 1,j - 1) +
                    this.getSquareValue(i,j - 1) +
                    this.getSquareValue(i + 1,j - 1) +
                    this.getSquareValue(i - 1,j) +
                    this.getSquareValue(i + 1,j) +
                    this.getSquareValue(i - 1,j + 1) +
                    this.getSquareValue(i,j + 1) +
                    this.getSquareValue(i + 1,j + 1)
                )
            },
            getSquareValue(i, j) {
                if (typeof this.squares[i] !== 'undefined') {
                    return this.squares[i][j] ? 1 : 0
                }
                return 0
            },
            discoverAround(i,j){
                this.getSquareValue(i - 1,j - 1) +
                this.getSquareValue(i,j - 1) +
                this.getSquareValue(i + 1,j - 1) +
                this.getSquareValue(i - 1,j) +
                this.getSquareValue(i + 1,j) +
                this.getSquareValue(i - 1,j + 1) +
                this.getSquareValue(i,j + 1) +
                this.getSquareValue(i + 1,j + 1)
            },
            lose(){
                alert('Perdu!!!')
            }
        },
        mounted() {
            this.start()
        }
    }
</script>

<style scoped>
    .row {
        overflow: hidden;
    }
</style>
