<template>
<div class="row">
    <square v-for="el in line" :mined="el" />

</div>
</template>

<script>
    import Square from "./Square";
    export default {
        name: "Row",
        components: {Square},
        props:{
            line:{
                required: true,
                type: Array,
                default: []
            }
        }
    }
</script>

<style scoped>

</style>
