<template>
    <div class="square" @click="click">
        <div v-if="discovered">
            <span v-if="mined">x</span>
            <span v-else-if="minesAround>0">{{minesAround}}</span>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Square",
        data() {
            return {
                discovered: false
            }
        },
        props: ['minesAround', 'mined'],
        methods: {
            discover() {

            },
            click() {
                this.discovered = true;
                if (this.mined) {
                    this.$emit("explode")
                } else if (this.minesAround === 0) {
                   this.$emit('discover')
                }
            },
            start() {

            }
        },
        mounted() {
            this.start()
        }
    }
</script>

<style scoped>
    .square {
        float: left;
        border: 1px solid black;
        width: 30px;
        height: 30px;
    }
</style>
